In [2]:
#### EXPLORING THE DATASET ####
import pandas as pd

# Read in the data
df = pd.read_csv('ValeursFoncieres-2024-S1.txt', delimiter='|')

df.head()

/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_8783/894846202.py:5: DtypeWarning: Columns (14,18,23,24,26,28,30,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ValeursFoncieres-2024-S1.txt', delimiter='|')

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,P,NaN,99.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,03/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,115.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,08/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,497.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,NaN,2,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,NaN,2,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN

In [4]:
#### BASIC INFO ABOUT THE DATA ####
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1566643 entries, 0 to 1566642
Data columns (total 43 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Identifiant de document     0 non-null        float64
 1   Reference document          0 non-null        float64
 2   1 Articles CGI              0 non-null        float64
 3   2 Articles CGI              0 non-null        float64
 4   3 Articles CGI              0 non-null        float64
 5   4 Articles CGI              0 non-null        float64
 6   5 Articles CGI              0 non-null        float64
 7   No disposition              1566643 non-null  int64
 8   Date mutation               1566643 non-null  object
 9   Nature mutation             1566643 non-null  object
 10  Valeur fonciere             1549589 non-null  object
 11  No voie                     946773 non-null   float64
 12  B/T/Q                       67087 non-null    object
 13  Type de voie                912892 non-null   object
 14  Code voie                   1558442 non-null  object
 15  Voie                        1558411 non-null  object
 16  Code postal                 1558158 non-null  float64
 17  Commune                     1566643 non-null  object
 18  Code departement            1566643 non-null  object
 19  Code commune                1566643 non-null  int64
 20  Prefixe de section          75237 non-null    float64
 21  Section                     1566597 non-null  object
 22  No plan                     1566643 non-null  int64
 23  No Volume                   3625 non-null     object
 24  1er lot                     464225 non-null   object
 25  Surface Carrez du 1er lot   135310 non-null   object
 26  2eme lot                    147516 non-null   object
 27  Surface Carrez du 2eme lot  45120 non-null    object
 28  3eme lot                    25067 non-null    object
 29  Surface Carrez du 3eme lot  4970 non-null     object
 30  4eme lot                    7720 non-null     object
 31  Surface Carrez du 4eme lot  1116 non-null     object
 32  5eme lot                    3017 non-null     float64
 33  Surface Carrez du 5eme lot  320 non-null      object
 34  Nombre de lots              1566643 non-null  int64
 35  Code type local             879876 non-null   float64
 36  Type local                  879876 non-null   object
 37  Identifiant local           0 non-null        float64
 38  Surface reelle bati         878849 non-null   float64
 39  Nombre pieces principales   878849 non-null   float64
 40  Nature culture              1095453 non-null  object
 41  Nature culture speciale     73429 non-null    object
 42  Surface terrain             1095453 non-null  float64
dtypes: float64(16), int64(4), object(23)
memory usage: 514.0+ MB

In [ ]:
#### SHOW IF THERE ARE MISSING VALUES ####
df.isnull().sum()