## Nettoyage des données des Valeurs Foncières 2022

In [1]:
#### EXPLORING THE DATASET ####
import pandas as pd
import numpy as np
import matplotlib 

# Read in the data

df_2022=pd.read_csv('valeursfoncieres-2022.txt', sep='|', index_col=0, dtype={18:'str',19:'str',20:'str',21:'str',22:'str',23:'str',24:'str',25:'str',26:'str',27:'str',28:'str',29:'str',31:'str',33:'str',41:'str'})


df_2022.head()

,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,Valeur fonciere,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
Identifiant de document,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,"55000,00",...,NaN,1,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,"143000,00",...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,84.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,"143000,00",...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,88.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,"143000,00",...,NaN,1,2.0,Appartement,NaN,140.0,3.0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2022,Vente,"300,00",...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,510.0

In [2]:
print("Taille des données :",df_2022.shape)
df_2022.info()

Taille des données : (4667090, 42)
<class 'pandas.core.frame.DataFrame'>
Index: 4667090 entries, nan to nan
Data columns (total 42 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Reference document          float64
 1   1 Articles CGI              float64
 2   2 Articles CGI              float64
 3   3 Articles CGI              float64
 4   4 Articles CGI              float64
 5   5 Articles CGI              float64
 6   No disposition              int64
 7   Date mutation               object
 8   Nature mutation             object
 9   Valeur fonciere             object
 10  No voie                     float64
 11  B/T/Q                       object
 12  Type de voie                object
 13  Code voie                   object
 14  Voie                        object
 15  Code postal                 float64
 16  Commune                     object
 17  Code departement            object
 18  Code commune                object
 19  Prefixe de section          object
 20  Section                     object
 21  No plan                     object
 22  No Volume                   object
 23  1er lot                     object
 24  Surface Carrez du 1er lot   object
 25  2eme lot                    object
 26  Surface Carrez du 2eme lot  object
 27  3eme lot                    object
 28  Surface Carrez du 3eme lot  object
 29  4eme lot                    float64
 30  Surface Carrez du 4eme lot  object
 31  5eme lot                    float64
 32  Surface Carrez du 5eme lot  object
 33  Nombre de lots              int64
 34  Code type local             float64
 35  Type local                  object
 36  Identifiant local           float64
 37  Surface reelle bati         float64
 38  Nombre pieces principales   float64
 39  Nature culture              object
 40  Nature culture speciale     object
 41  Surface terrain             float64
dtypes: float64(15), int64(2), object(25)
memory usage: 1.5+ GB

In [3]:
df_2022.describe()

,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,No voie,Code postal,4eme lot,5eme lot,Nombre de lots,Code type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Surface terrain
count,0.0,0.0,0.0,0.0,0.0,0.0,4.667090e+06,2.995526e+06,4.630002e+06,26869.000000,11547.000000,4.667090e+06,2.810515e+06,0.0,2.807712e+06,2.807712e+06,3.126122e+06
mean,NaN,NaN,NaN,NaN,NaN,NaN,1.377645e+00,7.049185e+02,5.004158e+04,99.826194,117.947432,4.567133e-01,2.274572e+00,NaN,6.453798e+01,1.748806e+00,2.796740e+03
std,NaN,NaN,NaN,NaN,NaN,NaN,1.511332e+01,2.000813e+03,2.734574e+04,2008.929881,3016.801798,8.646327e-01,9.199373e-01,NaN,5.599501e+02,2.066380e+00,1.562709e+04
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+03,2.000000,2.000000,0.000000e+00,1.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,8.000000e+00,2.826000e+04,7.000000,7.000000,0.000000e+00,1.000000e+00,NaN,0.000000e+00,0.000000e+00,2.450000e+02
50%,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,2.500000e+01,4.925000e+04,19.000000,17.000000,0.000000e+00,2.000000e+00,NaN,3.000000e+01,1.000000e+00,6.090000e+02
75%,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,9.900000e+01,7.500800e+04,57.000000,50.000000,1.000000e+00,3.000000e+00,NaN,8.000000e+01,3.000000e+00,1.675000e+03
max,NaN,NaN,NaN,NaN,NaN,NaN,1.246000e+03,9.999000e+03,9.749000e+04,221311.000000,221312.000000,1.880000e+02,4.000000e+00,NaN,2.900000e+05,9.000000e+01,4.625500e+06

In [4]:
uslness_col = ['Reference document','1 Articles CGI','2 Articles CGI','3 Articles CGI','4 Articles CGI','5 Articles CGI']
df_2022 = df_2022.drop(columns=uslness_col)
df_2022.describe()

,No disposition,No voie,Code postal,4eme lot,5eme lot,Nombre de lots,Code type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Surface terrain
count,4.667090e+06,2.995526e+06,4.630002e+06,26869.000000,11547.000000,4.667090e+06,2.810515e+06,0.0,2.807712e+06,2.807712e+06,3.126122e+06
mean,1.377645e+00,7.049185e+02,5.004158e+04,99.826194,117.947432,4.567133e-01,2.274572e+00,NaN,6.453798e+01,1.748806e+00,2.796740e+03
std,1.511332e+01,2.000813e+03,2.734574e+04,2008.929881,3016.801798,8.646327e-01,9.199373e-01,NaN,5.599501e+02,2.066380e+00,1.562709e+04
min,1.000000e+00,1.000000e+00,1.000000e+03,2.000000,2.000000,0.000000e+00,1.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,8.000000e+00,2.826000e+04,7.000000,7.000000,0.000000e+00,1.000000e+00,NaN,0.000000e+00,0.000000e+00,2.450000e+02
50%,1.000000e+00,2.500000e+01,4.925000e+04,19.000000,17.000000,0.000000e+00,2.000000e+00,NaN,3.000000e+01,1.000000e+00,6.090000e+02
75%,1.000000e+00,9.900000e+01,7.500800e+04,57.000000,50.000000,1.000000e+00,3.000000e+00,NaN,8.000000e+01,3.000000e+00,1.675000e+03
max,1.246000e+03,9.999000e+03,9.749000e+04,221311.000000,221312.000000,1.880000e+02,4.000000e+00,NaN,2.900000e+05,9.000000e+01,4.625500e+06

In [5]:
#Detection
df_2022.isna().sum(axis=0)

No disposition                      0
Date mutation                       0
Nature mutation                     0
Valeur fonciere                 31573
No voie                       1671564
B/T/Q                         4453651
Type de voie                  1785408
Code voie                       36903
Voie                            37058
Code postal                     37088
Commune                             0
Code departement                    0
Code commune                        0
Prefixe de section            4449316
Section                           158
No plan                             0
No Volume                     4656626
1er lot                       3146853
Surface Carrez du 1er lot     4243443
2eme lot                      4204296
Surface Carrez du 2eme lot    4524486
3eme lot                      4583650
Surface Carrez du 3eme lot    4650963
4eme lot                      4640221
Surface Carrez du 4eme lot    4663130
5eme lot                      4655543
Surface Carrez du 5eme lot    4665615
Nombre de lots                      0
Code type local               1856575
Type local                    1856575
Identifiant local             4667090
Surface reelle bati           1859378
Nombre pieces principales     1859378
Nature culture                1540968
Nature culture speciale       4476874
Surface terrain               1540968
dtype: int64

In [6]:
pourcentage_na = df_2022.isna().mean() * 100
print(pourcentage_na)

No disposition                  0.000000
Date mutation                   0.000000
Nature mutation                 0.000000
Valeur fonciere                 0.676503
No voie                        35.815980
B/T/Q                          95.426722
Type de voie                   38.255273
Code voie                       0.790707
Voie                            0.794028
Code postal                     0.794671
Commune                         0.000000
Code departement                0.000000
Code commune                    0.000000
Prefixe de section             95.333838
Section                         0.003385
No plan                         0.000000
No Volume                      99.775792
1er lot                        67.426448
Surface Carrez du 1er lot      90.922673
2eme lot                       90.083885
Surface Carrez du 2eme lot     96.944477
3eme lot                       98.212162
Surface Carrez du 3eme lot     99.654453
4eme lot                       99.424288
Surface Carrez du 4eme lot     99.915151
5eme lot                       99.752587
Surface Carrez du 5eme lot     99.968396
Nombre de lots                  0.000000
Code type local                39.780141
Type local                     39.780141
Identifiant local             100.000000
Surface reelle bati            39.840200
Nombre pieces principales      39.840200
Nature culture                 33.017748
Nature culture speciale        95.924313
Surface terrain                33.017748
dtype: float64

In [7]:
print(df_2022.shape)
df_2022 = df_2022.dropna(axis=1, how='all')
print(df_2022.shape)

(4667090, 36)
(4667090, 35)

In [8]:
#remplacement 
df_2022 = df_2022.replace('NAN', 'none')

#suppression de colonnes avec +50% de NAN
colonnes_a_supp = pourcentage_na[pourcentage_na>50].index
#df = df.drop(columns=colonnes_a_supp)

colonnes_a_supp.shape

(15,)

In [9]:
#### SAVE DATAFRAME ####

df_2022.to_csv('df_2022.csv', index=False)