In [12]:
#### EXPLORING THE DATASET ####
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns 

# Read in the data
#df1 = pd.read_txt('ValeursFoncieres-2024-S1.txt')
df=pd.read_csv('valeursfoncieres-2022.txt', sep='|', index_col=0, dtype={18:'str',19:'str',20:'str',21:'str',22:'str',23:'str',24:'str',25:'str',26:'str',27:'str',28:'str',29:'str',31:'str',33:'str',41:'str'})

# fnlwgt is a weight variable that represents the demographic characteristics of each person surveyed.
df.head()

,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,Valeur fonciere,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
Identifiant de document,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,"55000,00",...,NaN,1,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,"143000,00",...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,84.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,"143000,00",...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,88.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,"143000,00",...,NaN,1,2.0,Appartement,NaN,140.0,3.0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2022,Vente,"300,00",...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,510.0

In [13]:
threshold = 0.5

df = df[df.columns[df.isnull().mean() < threshold]]
df = df.loc[df.isnull().mean(axis=1) < threshold]

print("DataFrame après nettoyage : ", df.shape)
df.info()
df.head()

DataFrame après nettoyage :  (4630187, 21)
<class 'pandas.core.frame.DataFrame'>
Index: 4630187 entries, nan to nan
Data columns (total 21 columns):
 #   Column                     Dtype
---  ------                     -----
 0   No disposition             int64
 1   Date mutation              object
 2   Nature mutation            object
 3   Valeur fonciere            object
 4   No voie                    float64
 5   Type de voie               object
 6   Code voie                  object
 7   Voie                       object
 8   Code postal                float64
 9   Commune                    object
 10  Code departement           object
 11  Code commune               object
 12  Section                    object
 13  No plan                    object
 14  Nombre de lots             int64
 15  Code type local            float64
 16  Type local                 object
 17  Surface reelle bati        float64
 18  Nombre pieces principales  float64
 19  Nature culture             object
 20  Surface terrain            float64
dtypes: float64(6), int64(2), object(13)
memory usage: 777.2+ MB

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,...,Code commune,Section,No plan,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain
Identifiant de document,,,,,,,,,,,,,,,,,,,,,
NaN,1,03/01/2022,Vente,"55000,00",13.0,RUE,2280,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,...,53,AM,102,1,2.0,Appartement,24.0,1.0,NaN,NaN
NaN,1,03/01/2022,Vente,"143000,00",NaN,NaN,B010,CHAMP COCHET,1480.0,SAVIGNEUX,...,398,ZE,184,0,NaN,NaN,NaN,NaN,S,84.0
NaN,1,03/01/2022,Vente,"143000,00",NaN,NaN,B010,CHAMP COCHET,1480.0,SAVIGNEUX,...,398,ZE,185,0,NaN,NaN,NaN,NaN,S,88.0
NaN,1,03/01/2022,Vente,"143000,00",98.0,RTE,0055,DE LA DOMBES,1480.0,SAVIGNEUX,...,398,ZE,187,1,2.0,Appartement,140.0,3.0,NaN,NaN
NaN,1,04/01/2022,Vente,"300,00",NaN,NaN,B031,AUX PIERRES,1480.0,MESSIMY SUR SAONE,...,243,A,643,0,NaN,NaN,NaN,NaN,T,510.0

Nous gardons les variables suivantes : 

- Date mutation : pour les analyses temporelles des prix dépendant des saisons ou du temps, elle indique la date de la transaction immobilière.

- Nature mutation :

- Valeur foncière : 

- Code postal/Commune/Code commune :

- Nombre de lots :

- Code type local/Type local : 

- Surface réelle bâtie/Nombre prièces principales/Surface terrain :

In [14]:
columns_to_delete=['Voie', 'No disposition', 'No voie', 'Code voie', 'Code plan', 'Section','No plan', 'Nature culture']

df=df.drop(columns_to_delete, errors='ignore', axis=1)
df.head()
df.info()
#### REPLACE MISSING VALUES IN COLUMNS WE WANT ####
df.fillna('Unknown', inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 4630187 entries, nan to nan
Data columns (total 14 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Date mutation              object
 1   Nature mutation            object
 2   Valeur fonciere            object
 3   Type de voie               object
 4   Code postal                float64
 5   Commune                    object
 6   Code departement           object
 7   Code commune               object
 8   Nombre de lots             int64
 9   Code type local            float64
 10  Type local                 object
 11  Surface reelle bati        float64
 12  Nombre pieces principales  float64
 13  Surface terrain            float64
dtypes: float64(5), int64(1), object(8)
memory usage: 529.9+ MB

C:\Users\Ilian\AppData\Local\Temp\ipykernel_71944\3857676949.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('Unknown', inplace=True)

Taille des données : (4630187, 14)