In [28]:
#### IMPORT ####

import pandas as pd

#df_2021 = pd.read_csv('df_2021.csv')
df_2022 = pd.read_csv('df_2022.csv')
df_2023 = pd.read_csv('df_2023.csv')
df_2024 = pd.read_csv('df_2024.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'df_2022.csv'

In [ ]:
#### ADD COLUMNS FOR EACH YEAR ####

#df_2021['annee'] = 2021
df_2022['annee'] = 2022
df_2023['annee'] = 2023
df_2024['annee'] = 2024

In [ ]:
#### CONCAT ####
df_complete = pd.concat([df_2022, df_2023, df_2024], ignore_index=True)

df_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9865728 entries, 0 to 9865727
Data columns (total 36 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              float64
 1   Date mutation               object
 2   Nature mutation             object
 3   Valeur fonciere             object
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   object
 8   Voie                        object
 9   Code postal                 float64
 10  Commune                     object
 11  Code departement            object
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     float64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   object
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  object
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  object
 23  4eme lot                    float64
 24  Surface Carrez du 4eme lot  object
 25  5eme lot                    float64
 26  Surface Carrez du 5eme lot  object
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   float64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
 35  annee                       int64
dtypes: float64(11), int64(3), object(22)
memory usage: 2.6+ GB

In [ ]:
#### CHECK INTEGRITY #### 

df_complete.describe()

,No disposition,No voie,Code postal,Code commune,Prefixe de section,No plan,4eme lot,5eme lot,Nombre de lots,Code type local,Surface reelle bati,Nombre pieces principales,Surface terrain,annee
count,4.667090e+06,2.995526e+06,9.828640e+06,9.865728e+06,217774.000000,4.667090e+06,26869.000000,11547.000000,9.865728e+06,8.009153e+06,8.006350e+06,8.006350e+06,8.324760e+06,9.865728e+06
mean,1.377645e+00,7.049185e+02,4.978996e+04,2.062298e+02,462.787041,4.151511e+02,99.826194,117.947432,4.412536e-01,1.642380e+00,4.681896e+01,1.264560e+00,2.356581e+03,2.022675e+03
std,1.511332e+01,2.000813e+03,2.741725e+04,1.654229e+02,320.334573,5.885549e+02,2008.929881,3016.801798,8.573382e-01,1.283873e+00,4.763793e+02,1.920957e+00,1.312518e+04,7.177227e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000,1.000000e+00,2.000000,2.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.022000e+03
25%,1.000000e+00,8.000000e+00,2.794000e+04,7.500000e+01,172.000000,8.600000e+01,7.000000,7.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.300000e+01,2.022000e+03
50%,1.000000e+00,2.500000e+01,4.910000e+04,1.710000e+02,355.000000,2.230000e+02,19.000000,17.000000,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,4.520000e+02,2.023000e+03
75%,1.000000e+00,9.900000e+01,7.500300e+04,2.930000e+02,828.000000,5.060000e+02,57.000000,50.000000,1.000000e+00,3.000000e+00,6.400000e+01,3.000000e+00,1.300000e+03,2.023000e+03
max,1.246000e+03,9.999000e+03,9.749000e+04,9.090000e+02,950.000000,9.971000e+03,221311.000000,221312.000000,2.360000e+02,4.000000e+00,2.900000e+05,9.500000e+01,7.700000e+06,2.024000e+03

In [ ]:
df_complete.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,annee
0,1.0,03/01/2022,Vente,"55000,00",13.0,NaN,RUE,2280,DE LA LIBERTE,1000.0,...,NaN,1,2.0,Appartement,24.0,1.0,NaN,NaN,NaN,2022
1,1.0,03/01/2022,Vente,"143000,00",NaN,NaN,NaN,B010,CHAMP COCHET,1480.0,...,NaN,0,NaN,NaN,NaN,NaN,S,NaN,84.0,2022
2,1.0,03/01/2022,Vente,"143000,00",NaN,NaN,NaN,B010,CHAMP COCHET,1480.0,...,NaN,0,NaN,NaN,NaN,NaN,S,NaN,88.0,2022
3,1.0,03/01/2022,Vente,"143000,00",98.0,NaN,RTE,0055,DE LA DOMBES,1480.0,...,NaN,1,2.0,Appartement,140.0,3.0,NaN,NaN,NaN,2022
4,1.0,04/01/2022,Vente,"300,00",NaN,NaN,NaN,B031,AUX PIERRES,1480.0,...,NaN,0,NaN,NaN,NaN,NaN,T,NaN,510.0,2022

In [ ]:
df_complete.drop_duplicates(keep='last', inplace=True)
df_complete.duplicated().sum()

0

In [ ]:
df_complete.isnull().sum()

No disposition                5198638
Date mutation                 3430968
Nature mutation                     0
Valeur fonciere                126059
No voie                       6870202
B/T/Q                         9652289
Type de voie                  6984046
Code voie                     5235541
Voie                            37058
Code postal                     37088
Commune                             0
Code departement                    0
Code commune                        0
Prefixe de section            9647954
Section                       5198796
No plan                       5198638
No Volume                     9855264
1er lot                       8345491
Surface Carrez du 1er lot     9442081
2eme lot                      9402934
Surface Carrez du 2eme lot    9723124
3eme lot                      9782288
Surface Carrez du 3eme lot    9849601
4eme lot                      9838859
Surface Carrez du 4eme lot    9861768
5eme lot                      9854181
Surface Carrez du 5eme lot    9864253
Nombre de lots                      0
Code type local               1856575
Type local                    1856575
Surface reelle bati           1859378
Nombre pieces principales     1859378
Nature culture                6739606
Nature culture speciale       9675512
Surface terrain               1540968
annee                               0
dtype: int64

In [ ]:
threshold = len(df_complete)*0.5
df_complete = df_complete.dropna(axis=1, thresh = threshold)


df_complete.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,annee
0,03/01/2022,Vente,"55000,00",DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,53,1,2.0,Appartement,24.0,1.0,NaN,2022
1,03/01/2022,Vente,"143000,00",CHAMP COCHET,1480.0,SAVIGNEUX,1,398,0,NaN,NaN,NaN,NaN,84.0,2022
2,03/01/2022,Vente,"143000,00",CHAMP COCHET,1480.0,SAVIGNEUX,1,398,0,NaN,NaN,NaN,NaN,88.0,2022
3,03/01/2022,Vente,"143000,00",DE LA DOMBES,1480.0,SAVIGNEUX,1,398,1,2.0,Appartement,140.0,3.0,NaN,2022
4,04/01/2022,Vente,"300,00",AUX PIERRES,1480.0,MESSIMY SUR SAONE,1,243,0,NaN,NaN,NaN,NaN,510.0,2022

In [ ]:
#### REPLACE MISSING VALUES IN COLUMNS WE WANT ####
df_complete.fillna(0, inplace=True)
df_complete.head()

/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_12798/1532401459.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df_complete.fillna(0, inplace=True)

TypeError: Cannot setitem on a Categorical with a new category (0), set the categories first

In [ ]:
#### CONVERTS TO THE RIGHT TYPE ####

category_convert = ['Nature mutation', 'Voie', 'Code postal', 'Commune', 'Code departement', 'Code commune', 'Code type local', 'Type local']
df_complete[category_convert] = df_complete[category_convert].astype('category')

df_complete['Date mutation'] = pd.to_datetime(df_complete['Date mutation'], errors = 'coerce')

df_complete['Valeur fonciere']=df_complete['Valeur fonciere'].replace({'\xa0':'',',':'.'}, regex=True)
df_complete['Valeur fonciere']=pd.to_numeric(df_complete['Valeur fonciere'], errors='coerce')

df_complete.info()

/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_12798/476112235.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_complete[category_convert] = df_complete[category_convert].astype('category')
/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_12798/476112235.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_complete['Date mutation'] = pd.to_datetime(df_complete['Date mutation'], errors = 'coerce')
/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_12798/476112235.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_complete['Valeur fonciere']=df_complete['Valeur fonciere'].replace({'\xa0':'',',':'.'}, regex=True)
/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_12798/476112235.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_complete['Valeur fonciere']=pd.to_numeric(df_complete['Valeur fonciere'], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
Index: 9029729 entries, 0 to 9865727
Data columns (total 15 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Date mutation              datetime64[ns]
 1   Nature mutation            category
 2   Valeur fonciere            float64
 3   Voie                       category
 4   Code postal                category
 5   Commune                    category
 6   Code departement           category
 7   Code commune               category
 8   Nombre de lots             int64
 9   Code type local            category
 10  Type local                 category
 11  Surface reelle bati        float64
 12  Nombre pieces principales  float64
 13  Surface terrain            float64
 14  annee                      int64
dtypes: category(8), datetime64[ns](1), float64(4), int64(2)
memory usage: 695.4 MB

In [ ]:
#### COMPLETE DF FILE ####

df_complete.to_csv('df_complet.csv', index=False)