In [51]:
#### IMPORT ####

import pandas as pd
df_2019 = pd.read_csv('df_2019.csv')
df_2020 = pd.read_csv('df_2020.csv')
df_2021 = pd.read_csv('df_2021.csv')
df_2022 = pd.read_csv('df_2022.csv')
df_2023 = pd.read_csv('df_2023.csv')
df_2024 = pd.read_csv('df_2024.csv')

/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_1005/2047460169.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2019 = pd.read_csv('df_2019.csv')
/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_1005/2047460169.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2020 = pd.read_csv('df_2020.csv')
/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_1005/2047460169.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2021 = pd.read_csv('df_2021.csv')
/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_1005/2047460169.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv('df_2022.csv')
/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_1005/2047460169.py:8: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2023 = pd.read_csv('df_2023.csv')
/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_1005/2047460169.py:9: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2024 = pd.read_csv('df_2024.csv')

In [52]:
#### ADD COLUMNS FOR EACH YEAR ####
df_2019['annee'] = 2019
df_2020['annee'] = 2020
df_2021['annee'] = 2021
df_2022['annee'] = 2022
df_2023['annee'] = 2023
df_2024['annee'] = 2024

In [53]:
#### CONCAT ####
df_complete = pd.concat([df_2019, df_2020, df_2021, df_2022, df_2023, df_2024], ignore_index=True)

In [54]:
#### CHECK INTEGRITY #### 

df_complete.describe()

,Valeur fonciere,Code postal,Code commune,Nombre de lots,Code type local,Surface reelle bati,Nombre pieces principales,Surface terrain,annee
count,1.801472e+07,1.801472e+07,1.801472e+07,1.801472e+07,1.801472e+07,1.801472e+07,1.801472e+07,1.801472e+07,1.801472e+07
mean,5.872478e+05,4.948811e+04,2.079317e+02,4.086609e-01,1.204372e+00,4.430135e+01,1.210482e+00,1.975105e+03,2.021498e+03
std,9.546110e+06,2.736851e+04,1.660305e+02,8.471188e-01,1.266510e+00,4.860459e+02,1.917543e+00,1.139083e+04,1.429859e+00
min,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.019000e+03
25%,6.000000e+04,2.753000e+04,7.600000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.020000e+03
50%,1.520000e+05,4.750000e+04,1.720000e+02,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.980000e+02,2.022000e+03
75%,2.800000e+05,7.450000e+04,2.960000e+02,1.000000e+00,2.000000e+00,6.100000e+01,3.000000e+00,1.000000e+03,2.023000e+03
max,1.415000e+10,9.749000e+04,9.090000e+02,2.360000e+02,4.000000e+00,4.500000e+05,1.090000e+02,1.072309e+07,2.024000e+03

In [55]:
df_complete.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,annee
0,2019-01-07,Vente,244200.0,COMMANDANT COUSTEAU,1000.0,BOURG-EN-BRESSE,1,53,0,1.0,Maison,150.0,5.0,695.0,2019
1,2019-04-07,Vente,195000.0,DE LA CROIX ROSIER,1250.0,HAUTECOURT-ROMANECHE,1,184,0,1.0,Maison,94.0,4.0,888.0,2019
2,2019-04-07,Vente,195000.0,DE LA CROIX ROSIER,1250.0,HAUTECOURT-ROMANECHE,1,184,0,1.0,Maison,94.0,4.0,500.0,2019
3,2019-04-07,Vente,110030.0,LA VILLE,1250.0,GRAND-CORENT,1,177,0,1.0,Maison,90.0,3.0,522.0,2019
4,2019-03-07,Vente,160450.0,CHARBONNET,1270.0,COLIGNY,1,108,0,0.0,0,0.0,0.0,8.0,2019

In [56]:
#### CHECK TYPE ####
df_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18014725 entries, 0 to 18014724
Data columns (total 15 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Date mutation              object
 1   Nature mutation            object
 2   Valeur fonciere            float64
 3   Voie                       object
 4   Code postal                float64
 5   Commune                    object
 6   Code departement           object
 7   Code commune               int64
 8   Nombre de lots             int64
 9   Code type local            float64
 10  Type local                 object
 11  Surface reelle bati        float64
 12  Nombre pieces principales  float64
 13  Surface terrain            float64
 14  annee                      int64
dtypes: float64(6), int64(3), object(6)
memory usage: 2.0+ GB

In [57]:
#### CONVERTS TO THE RIGHT TYPE ####

category_convert = ['Nature mutation', 'Voie', 'Code postal', 'Commune', 'Code departement', 'Code commune', 'Code type local', 'Type local']
df_complete[category_convert] = df_complete[category_convert].astype('category')

df_complete['Date mutation'] = pd.to_datetime(df_complete['Date mutation'], errors = 'coerce')
df_complete['Date mutation'] = df_complete['Date mutation'].interpolate(method='linear')

df_complete['Valeur fonciere']=df_complete['Valeur fonciere'].replace({'\xa0':'',',':'.'}, regex=True)
df_complete['Valeur fonciere']=pd.to_numeric(df_complete['Valeur fonciere'], errors='coerce')

df_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18014725 entries, 0 to 18014724
Data columns (total 15 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Date mutation              datetime64[ns]
 1   Nature mutation            category
 2   Valeur fonciere            float64
 3   Voie                       category
 4   Code postal                category
 5   Commune                    category
 6   Code departement           category
 7   Code commune               category
 8   Nombre de lots             int64
 9   Code type local            category
 10  Type local                 category
 11  Surface reelle bati        float64
 12  Nombre pieces principales  float64
 13  Surface terrain            float64
 14  annee                      int64
dtypes: category(8), datetime64[ns](1), float64(4), int64(2)
memory usage: 1.2 GB

In [58]:
#### CHECK DUPLICATES ####
df_complete.drop_duplicates(keep='last', inplace=True)
df_complete.duplicated().sum()

0

In [59]:
#### CHECK MISSING VALUES ####
df_complete.isnull().sum()

Date mutation                0
Nature mutation              0
Valeur fonciere              0
Voie                         0
Code postal                  0
Commune                      0
Code departement             0
Code commune                 0
Nombre de lots               0
Code type local              0
Type local                   0
Surface reelle bati          0
Nombre pieces principales    0
Surface terrain              0
annee                        0
dtype: int64

In [60]:
df_complete.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,annee
0,2019-01-07,Vente,244200.0,COMMANDANT COUSTEAU,1000.0,BOURG-EN-BRESSE,1,53,0,1.0,Maison,150.0,5.0,695.0,2019
1,2019-04-07,Vente,195000.0,DE LA CROIX ROSIER,1250.0,HAUTECOURT-ROMANECHE,1,184,0,1.0,Maison,94.0,4.0,888.0,2019
2,2019-04-07,Vente,195000.0,DE LA CROIX ROSIER,1250.0,HAUTECOURT-ROMANECHE,1,184,0,1.0,Maison,94.0,4.0,500.0,2019
3,2019-04-07,Vente,110030.0,LA VILLE,1250.0,GRAND-CORENT,1,177,0,1.0,Maison,90.0,3.0,522.0,2019
4,2019-03-07,Vente,160450.0,CHARBONNET,1270.0,COLIGNY,1,108,0,0.0,0,0.0,0.0,8.0,2019

In [63]:
#### COMPLETE DF FILE ####

#df_complete.to_csv('df_complete.csv', index=False)