In [5]:
#### IMPORT ####

import pandas as pd

#df_2021 = pd.read_csv('df_2021.csv')
df_2022 = pd.read_csv('df_2022.csv')
df_2023 = pd.read_csv('df_2023.csv')
df_2024 = pd.read_csv('df_2024.csv')

/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_12798/650110566.py:6: DtypeWarning: Columns (11,16,17,19,21,22,24,26,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv('df_2022.csv')
/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_12798/650110566.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2023 = pd.read_csv('df_2023.csv')
/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_12798/650110566.py:8: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2024 = pd.read_csv('df_2024.csv')

In [6]:
#### CONCAT ####
df_complete = pd.concat([df_2022, df_2023, df_2024], ignore_index=True)

df_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9865728 entries, 0 to 9865727
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              float64
 1   Date mutation               object
 2   Nature mutation             object
 3   Valeur fonciere             object
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   object
 8   Voie                        object
 9   Code postal                 float64
 10  Commune                     object
 11  Code departement            object
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     float64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   object
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  object
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  object
 23  4eme lot                    float64
 24  Surface Carrez du 4eme lot  object
 25  5eme lot                    float64
 26  Surface Carrez du 5eme lot  object
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   float64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
dtypes: float64(11), int64(2), object(22)
memory usage: 2.6+ GB

In [7]:
df_complete.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,1.0,03/01/2022,Vente,"55000,00",13.0,NaN,RUE,2280,DE LA LIBERTE,1000.0,...,NaN,NaN,1,2.0,Appartement,24.0,1.0,NaN,NaN,NaN
1,1.0,03/01/2022,Vente,"143000,00",NaN,NaN,NaN,B010,CHAMP COCHET,1480.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,S,NaN,84.0
2,1.0,03/01/2022,Vente,"143000,00",NaN,NaN,NaN,B010,CHAMP COCHET,1480.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,S,NaN,88.0
3,1.0,03/01/2022,Vente,"143000,00",98.0,NaN,RTE,0055,DE LA DOMBES,1480.0,...,NaN,NaN,1,2.0,Appartement,140.0,3.0,NaN,NaN,NaN
4,1.0,04/01/2022,Vente,"300,00",NaN,NaN,NaN,B031,AUX PIERRES,1480.0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,T,NaN,510.0

In [ ]:
#### COMPLETE DF FILE ####

df_complet.to_csv('df_complet.csv', index=False)